<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/attendereco.css'>
    <script src='../script/attendereco.js'></script>
</head>
<body>
    <div class="container">
        <header><a href="../view/home.html"><img src="../view/img/logo2.png"></a></header>
        <form>
            <main>
                <br><br><br><br><br><br>
                <label for="local">Título:</label><br>
                <input type="text" name="title" id="title" placeholder="Título (Ex: Minha Casa)"><br>
                <label for="cep">CEP:</label><br>
                <input type="text" name="cep" id="cep" placeholder="CEP"><br>
                <label for="endereco">Endereço:</label><br>
                <input type="text" name="address" id="address" placeholder="Endereço"><br>          
                <input type="text" name="number" id="number" placeholder="Número">
                <input type="text" name="complement" id="complement" placeholder="Complemento (opcional)"><br>
                <br>
                <br>
                <input id="btn_end" type="button" value="ATUALIZAR ENDEREÇO" onclick="atualizarEndereco()"><br><br><br><br>
            </main>
        </form>
        <aside>
        </aside>
        <footer>
            <br><br>Copyright © 2024 | Gabriel.Joicy.Julio.Leonardo.Victoria
        </footer>
    </div>
</body>
</html>