<!DOCTYPE html>
<html>
<head>
    <title>Página de Cadastro de Endereço</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/endereco.css">
    <script src="../script/endereco.js"></script>
</head>
<body>
    <div class="container">
        <header><a href="../view/home.html"><img src="../view/img/logo2.png"></a></header>
        <form>
            <main>
                <br><br><br><br><br><br>
                <label for="titulo">Título:</label><br>
                <input type="text" name="titulo" id="titulo" placeholder="Título (Ex: Minha Casa)"><br>
                <label for="cep">CEP:</label><br>
                <input type="text" name="cep" id="cep" placeholder="CEP"><br>
                <label for="endereco">Endereço:</label><br>
                <input type="text" name="endereco" id="endereco" placeholder="Endereço"><br>          
                <input type="text" name="numero" id="numero" placeholder="Número">
                <input type="text" name="complemento" id="complemento" placeholder="Complemento (opcional)"><br>
                <br>
                <br>
                <input id="btn_end" type="button" value="CADASTRAR ENDEREÇO" onclick="cadastro_endereco()"><br><br><br><br>
            </main>
        </form>
        <aside></aside>
        <footer>
            <br><br>Copyright © 2024 | Gabriel.Joicy.Julio.Leonardo.Victoria
        </footer>
    </div>
</body>
</html>