<!DOCTYPE html>
<html>
<head>
    <title>Meowsic.com</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/home.css'>
    <script defer src='../script/home.js'></script>
</head>
<body>
    <div id="container">
        <header>
            <img src="../view/img/logo2.png"> 
        </header>
    <main>
        <table>
            <thead>
                <tr>
                    <br><br><br>
                        <th>Título</th>
                        <th>CEP</th>
                        <th>Endereço</th>
                        <th>Número</th>
                        <th>Complemento</th>
                        <th>Atualizar</th>
                        <th>Deletar</th>
                </tr>
            </thead>
           <tbody>

           </tbody>
        </table>
    </main>
        <aside>
            <a href="../view/endereco.html">CADASTRAR ENDEREÇO</a>
            <br><br>
            <input id="btn_logout" type="button" value="LOGOUT" onclick="logout()"><br><br><br>
        </aside>
    <footer>
        <br><br>Copyright © 2024 | Gabriel.Joicy.Julio.Leonardo.Victoria
    </footer>
</div>
</body>
</html>