<!DOCTYPE html>
<html>
<head>
    <title>Meowsic.com</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/index.css'>
    <script src='../script/index.js'></script>
</head>
<body>
    <div id="container">
        <header>
            <img src="../view/img/logo2.png">
        </header>
        <main>
            <font face="Arial"><h1>Bem-vindo(a) ao Meowsic!<h1>
            
                <h3>Explore um universo de músicas na palma da sua mão. Aqui, você encontra<br> 
                    playlists personalizadas, seus artistas favoritos e as últimas novidades<br>
                    do mundo da música. Descubra novos sons, crie suas próprias listas e leve<br>
                    sua trilha sonora para onde for.<br>
                    <br>
                    Quer relaxar, treinar ou apenas curtir? Aqui temos tudo para você viver<br>
                     uma experiência musical única e deixe a música te acompanhar em todos os momentos!<br>
                     <br>
                     <img src="../view/img/gato.png"><br>
                    <br>
                    Pronto para começar a jornada musical? Entre agora e mergulhe em um mundo<br>
                    onde cada música é uma nova descoberta!</h3></font>
                    <a href="../view/cadastro.html">COMECE AQUI</a><br>
                    <font face="Arial"><h3>Já criei uma conta!</h3></font> <a href="../view/login.html">ENTRAR</a>
        </main>
        <aside>
        </aside>
        <footer>
            <br><br>Copyright © 2024 | Gabriel.Joicy.Julio.Leonardo.Victoria
        </footer>
    </div>
</body>
</html>