<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/termos.css'>
</head>
<body>
    <div>
        <header>
            <a href="../index.html"><img src="../view/img/logo2.png"></a>
        </header>
        <main>
            <h1>Você não vai ler mesmo, porque clicou aqui?</h1><br><br>
            <h2>Voltar para a tela de cadastro:</h2>
            <a href="../view/cadastro.html"><img src="../view/img/logo3.png"></a>
        
        </main>
        <footer></footer>
    </div>
    
</body>
</html>