body{
    text-align: center;
    background-color: black;
    margin: 0%;
    background-image: url(../view/img/background.png);
    background-size: cover;
    background-position: center;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 80px;
}

header{
    grid-column: 1/4;
    height: 80px;
    text-align: center;
    background-color: black;
}

footer{
    background-color: black;
    grid-column: 1/4;
    height: 120px;
    text-align: center;
    color: white;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh, 70vh, 20vh;
    grid-gap: 10px;
}

main{
    text-align: center;
    grid-column: 1/4;
    height: 800px;
    color: rgb(30, 215, 96)
}

aside{
    text-align: center;
    grid-column: 1/4;
}

#btn_logout{
    height: 30px;
    width: 12%;
    background: rgb(230, 33, 33);
    color: black;
    cursor: pointer;
    border-radius: 40px;
}

a{
    text-align: center;
    text-decoration: none;
    color: rgb(30, 215, 96);
}

h2{
    color: rgb(30, 215, 96);
}

h2{
    color: white;
}

table{
    width: 1300px;
}

th{
    color: white;
}

#att{
    text-decoration: underline;
}

#del{
    text-decoration: underline;
}